/* Colour Pallete

Sandstone = #766963
Athens Gray = #EBEBED
Rangitoto = #323923
Sycamore = #98a444

Text ----
Gold = #606024
Lighter Gold = #bbba48
#fff42c
*/

/* Global
------------------------------------------*/

html, body {
    height: 100%;
    font-size: 62.5%; /* set default font size to 10px */
}

section {
    margin-bottom: 35px;
}

body {
    font-family: "Open Sans", sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: "Archivo Black", sans-serif;
    font-size: 5.5rem; /* 40px */
    color: #854A1F;
    font-weight: bold;
    margin-bottom: 13px;
}

h3 {
    color: #BB8247;
    font-size: 1.9rem; /* 19px */
}

h4 {
    color: #47230C;
    font-size: 1.6rem; /* 18px */
    margin: 2px;
    font-weight: normal;
}

p {
    color: #47230C;
    font-size: 1.8rem; /* 18px */
    margin-top: 0;
    margin: 20px;
}

br {
    margin-bottom: 12px;
}

a {
    color: #47230C;
}

ul {
    color: #47230C;
    font-size: 1.8rem; /* 18px */
}

a:hover {
    color:#BB8247;
    text-decoration: none;
}

.background-content-wrapper {
    background-color: RGBA(255, 255, 255, 0.70);
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.content-wrapper {
    margin: 0 auto;
    padding: 15px;
    max-width: 1100px;
    height: auto;
    flex: 1 0 auto;
}

/* Navbar add an active selector with JS
------------------------------------------*/

.navbar {
    background-color: #BB8247;
    border-top: 3.5px solid #47230C;
    border-bottom: 3.5px solid #47230C;
    margin: 5px;

}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
}

.navbar a {
    color: #E7E8DA;
    font-weight: bold;
    display: block;
    padding: 1rem;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    background-color:#EBEBED;
    color: #766963;
}

@media screen and (max-width: 692px) {
    .navbar a {
        color: #EBEBED;
        font-weight: bold;
        display: inline-block;
        padding: 1rem;
        text-decoration: none;
        font-weight: bold;
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 598px) {
    
    .navbar ul {
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 5px;
        row-gap: 5px;
    }
    
    .navbar a {

        font-weight: bold;
        display: block;
        padding: 1rem;
        text-decoration: none;
        font-weight: bold;
    }

}

 /* Background
------------------------------------------*/

.homepage {
    background: url(../Images/coin.jpg) no-repeat, url(../Images/coinFlipped.jpg);
    background-size: cover;
}

.work {
    background: url(../images/coin.jpg) no-repeat, url(../images/coinFlipped.jpg);
    background-size: cover;
}

.education {
    background: url(../images/coin.jpg) no-repeat, url(../images/coinFlipped.jpg);
    background-size: cover;
}

.projects {
    background: url(../images/coin.jpg) no-repeat, url(../images/coinFlipped.jpg);
    background-size: cover;
}

.interests {
    background: url(../images/coin.jpg) no-repeat, url(../images/coinFlipped.jpg);
    background-size: cover;
}

.contact {
    background: url(../images/coin.jpg) no-repeat, url(../images/coinFlipped.jpg);
    background-size: cover;
}

@media screen and (max-width: 1280px) {
    .homepage {
        background: url(../images/coin.jpg) no-repeat 90%, url(../images/coinFlipped.jpg) 90%;
        background-size: cover;
    }

    .work {
        background: url(../images/coin.jpg) no-repeat 90%, url(../images/coinFlipped.jpg) 90%;
        background-size: cover;
    }

    .education {
        background: url(../images/coin.jpg) no-repeat 90%, url(../images/coinFlipped.jpg) 90%;
        background-size: cover;
    }
    
    .projects {
        background: url(../images/coin.jpg) no-repeat 90%, url(../images/coinFlipped.jpg) 90%;
        background-size: cover;
    }
    
    .interests {
        background: url(../images/coin.jpg) no-repeat 90%, url(../images/coinFlipped.jpg) 90%;
        background-size: cover;
    }
    
    .contact {
        background: url(../images/coin.jpg) no-repeat 90%, url(../images/coinFlipped.jpg) 90%;
        background-size: cover;
    }
}

/* Homepage
------------------------------------------*/

.navbar-homepage {
    margin: 5px;
    width: 100%;
}

.navbar-homepage ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
}

.navbar-homepage li {
    margin: 2px;
}

.navbar-homepage a {
    background-color: #BB8247;
    border-radius: 20px;
    border: 3.5px solid #47230C;
    color: #E7E8DA;
    font-weight: bold;
    display: block;
    padding: 20px 10px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

.navbar-homepage a:hover {
    background-color:#EBEBED;
    color: #766963;
}


.splash-screen {
    transform: translate(0, 100%);
}

.splash-screen p {
    width: 800px;
}

.splash-screen h1 {
    font-size:42px;
    padding: 20px;
    padding-left: 0;
    margin: 0;
}

.icon {
    width: 20px;
    height: 20px;
}

@media screen and (max-width: 439px) {
    .navbar-homepage ul {
        margin: 0;
        padding: 0;
        text-align: center;
        display: block;
    }

    .splash-screen {
        transform: translate(0, 0);
    }

    .splash-screen p {
        width: 300px;
    }

}

@media screen and (min-width: 440px) and (max-width: 585px) {

    .navbar-homepage ul {
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 5px;
        row-gap: 5px;
    }
    
    .splash-screen {
        transform: translate(0, 0);
    }

    .splash-screen p {
        width: 370px;
    }
}

@media screen and (min-width: 586px) and (max-width: 1305px) {
    .splash-screen p {
        width: 500px;
    }

    .navbar-homepage ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 5px;
        row-gap: 5px;
    }

    .splash-screen {
        transform: translate(0, 0);
    }

    .navbar-homepage span::before {
        content: "\a";
        white-space: pre;
    }
}

@media screen and (min-width: 1306px) {  
    .navbar-homepage ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 20px;
        row-gap: 20px;
    }
    
    .navbar-homepage a {
        border-radius: 25px;
        display: block;
        padding: 40px 10px;
    }
    
    .splash-screen nav {
        width: 700px;
        height: auto;
        float: right;
    }
    
    .splash-screen {
        display: flow-root;
        margin: auto auto;
        transform: translate(0, 75%);
    }
    
    .splash-screen p {
        width: 1250px;
    }
    
    .icon {
        width: 30px;
        height: 30px;
    }
    
    .homepage .content-wrapper {
        margin: 0 auto;
        padding: 15px;
        max-width: 1500px;
        flex: 1 0 auto;
    }

    .navbar-homepage span::before {
        content: "\a";
        white-space: pre;
    }
}

/* Interests
------------------------------------------*/


/* Projects
------------------------------------------*/

.project-item img {
    width: 500px;
    height: auto;
}

.project-item {
    margin: 30px, 0;
}

@media screen and (min-width: 974px) {
    .project-item {
        display: flow-root;
    }

    .project-item img {
        float: left;
        margin-right: 20px;
    }
}

@media screen and (min-width: 695px) and (max-width: 973px) {
    .project-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
    }

    .project-item img {
        width: 100%;
    }
}

@media screen and (max-width: 540px) {
    .project-item img {
        width: 330px;
        height: auto;
    }
}

/* Work Experience
------------------------------------------*/

.work-item {
    margin: 30px 0;
}

.work-summary ul {
    margin: 0;
    padding: 20px;
}

@media screen and (min-width: 890px) {
    .work-item {
        display: grid;
        grid-template-columns: 1fr 4fr;
        column-gap: 20px;
    }
}

/* Education
------------------------------------------*/


/* Footer
------------------------------------------*/
footer {
    background: #636363;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

footer p {
    font-size: 1.2rem; /* 12px */
}

.info {
    list-style-type: none;
    padding: 0;
}

.info li {
    display: inline-block;
    margin-left: 10px;
}

.info img {
    width: 32px;
}

.info img:hover {
    opacity: 0.5;
}
